<!--Dev Team P3-6
Neeraja Garigipati s528801
Vaishnavi Kalvakota s528803
-->
<br/>
<br/>
<h2>Create a new roofing coating</h2>
<p>There are currently
	<%= roofingCoatings.query.length %> roofing coatings. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<roofingCoatings.query.length; i++) {
    if(roofingCoatings.query[i]._id > maxID) {
        maxID=roofingCoatings.query[i]._id;
        }
}
maxDisplayorder=0; 
for (var i=0; i<roofingCoatings.query.length; i++) {
    if(roofingCoatings.query[i].displayorder > maxDisplayorder) {
        maxDisplayorder=roofingCoatings.query[i].displayorder;
        }
}
%>
	<p>The largest ID is
		<%= maxID %>. </p>
	<p>The largest display order is
		<%= maxDisplayorder %>. </p><br/>
	<div class="content">
		<div>
			<form name="roofingCoating" method="POST" action="/roofingCoating/save" + _id.value>
				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" value="Name" required>
				</div>
				<div class="form-group">
					<label for="unit">Unit</label>
					<input type="text" class="form-control" id="unit" name="unit" value="gal" required>
				</div>
				<div class="form-group">
					<label for="price">Price</label>
<<<<<<< HEAD
					<input type="text" class="form-control" id="price" name="price" value="80" required min="80" max="125">
=======
					<input type="number" class="form-control" id="price" name="price" min="0" value="30" required>
>>>>>>> 0d3a188d61a4b2521001c1d38c9385f8bc38b43e
				</div>
				<div class="form-group">
					<label for="displayorder">Display Order</label>
					<input type="number" class="form-control" id="displayorder" name="displayorder" value="<%= maxDisplayorder+10 %>" required>
				</div>
				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/roofingCoating">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>