

<h2>Recent waterproofing estimates</h2>
<p>There are
  <%= waterproofingEstimates.query.length %> waterproofing estimates. <br/>
    <a href="/waterproofingEstimate/create" class="btn btn-primary">Add a new one</a></p>
<% for (var i = 0; i < waterproofingEstimates.query.length; i++) { estimate = waterproofingEstimates.query[i]; %>
  <div class="panel panel-default">
    <div class="panel-heading"><%=estimate.client%> - <%=estimate.address%> (<%=estimate.city%>, <%=estimate.state%>)</div>
    <div class="text-muted pull-right"></div>
    <div class="panel-body">
      ID:
      <%=  estimate._id %><br>
                  <% include ../estimateparts/est-footage %>
                <% include ../estimateparts/est-waterproofing %>
                  <% include ../estimateparts/est-aggregate %>
                    <% include ../estimateparts/est-labor %>
                      <% include ../estimateparts/est-mileage %>
                        <% include ../estimateparts/est-misc %>
                          <% include ../estimateparts/est-comment %>
                            <% include ../estimateparts/est-result %> <br/>
                              <a href="/waterproofingEstimate/delete/<%= estimate._id  %>" class="btn btn-danger"> Delete </a>
                              <a href="/waterproofingEstimate/details/<%= estimate._id %>" class="btn btn-info"> Details </a>
                              <a href="/waterproofingEstimate/edit/<%= estimate._id %>" class="btn btn-warning">  Edit </a>
    </div>
  </div>
  <% } %>