<hr>
<h2>Summary</h2>
<hr>
<table class="table">
  <tr>
    <th colspan="4">Bid Price</th>
  </tr>
  <tr>
    <th>Profit</th>
    <th>Total cost in $USD</th>
    <th>Bid Price in $/sqft</th>
    <th>Select</th>
  </tr>
  <% for(var j=0; j<7; j++){
    var percentage = 40+(j*10);
     %>
    <tr>
      <td>
        <%= percentage%>%</td>
      <td>$
        <%= (total_cost+total_cost*percentage/100).toFixed(1) %>
      </td>
      <td id="bid_id_<%= ((i+1)+" "+j+1) %>">$
        <%= (total_unit_cost*+total_unit_cost*percentage/100).toFixed(1) %>
      </td>
      <td>
        <input type="radio" name="bid" id="<%= ((i+1)+" "+j+1) %>" />
      </td>
    </tr>
    <% } %>
</table>